body{
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-right: 20px;
}
hr{
    border-bottom: 2px solid gray;
}
li{
    list-style: none;
    text-align: left;
}
#teve1{
    width: 300px;
    height: 250px;
}
#teve2{
    width: 300px;
    height: 150px;
    margin-right: 50px;
    float: right;
}
.közép{
    text-align: center;    
}
#adat{
    font-size: small;
    text-align: end;
}
ul :first-child{
    font-weight: bold;
    font-size: x-large;
}
#tipp{
    box-sizing: border-box;
} 